*{
  margin: 0;padding: 0;
}

.hero-links{
  font-weight: 700;
  color: #516337 !important;
  text-decoration: none;
}

.hero-container{
  background-image: url("./assets/mainbg.png");
  padding:20px;
  background-repeat: no-repeat;
  background-size: cover;
  height: 80vh;
  color: white;
}

.btn-hero{
  background-color: #fed6a8;
  color: black;
  border: none;
  width: 200px;
  height: 70px;
  padding: 10px 20px;
  border-radius: 10px;
  font-weight: 700;
  text-decoration: none;
  font-size: 1.5rem;
}
.btn-hero:hover{
  color:white;
}
.hero-subheading{
  color: grey;
}
.hero-info{
  font-weight: 600;
  
}
.free{
  color: #fed6a8;
  font-size: 3rem;
}
.nav-component{
  margin-right:30px;
}
.Courses{
  width: 100vw;
  height:83vh;
  display: flex;
  flex-direction: row;

}
.Sidebar{
  width: 20vw;
  height: 100%;
  background-color: rgb(150, 176, 150);
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
.video-Secion{
  width: 80vw;
  height: 100%;
  background-color: rgb(37, 171, 37);
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  gap: 5px;
  align-items: center;
  padding: 10px;
  flex-wrap: wrap;
}

.dropdown{
  margin-right:70px;
}